@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0
}

* {
  box-sizing: border-box;
}

.react-tel-input .form-control {
  @apply !w-full py-6 !text-base;
} 

.otp-field input{
  @apply outline-none
}

.otp-field input:last-child{
  @apply !mr-0
}

.resendOTP button {
  @apply ml-3
}